<EditForm Model="Turnos" OnValidSubmit="onValidSubmit">
 <div class="form-group">
        <label>Dia</label>
        <div>
            <InputText class="form-control" @bind-Value="@Turnos.Dia" />
            <ValidationMessage For="@(() => Turnos.Dia)" />
        </div>
    </div>
<div class="form-group">
        <label>HorarioDesde</label>
        <div>
            <InputText class="form-control" @bind-Value="@Turnos.HorarioDesde" />
            <ValidationMessage For="@(() => Turnos.HorarioDesde)" />
        </div>
    </div>
<div class="form-group">
        <label>HorarioHasta</label>
        <div>
            <InputText class="form-control" @bind-Value="@Turnos.HorarioHasta" />
            <ValidationMessage For="@(() => Turnos.HorarioHasta)" />
        </div>
    </div>
<button class="btn btn-primary" type="submit">Guardar</button>
<button class="btn btn-secondary" @onclick="onCancel" type="button">Cancelar</button>

</EditForm>    
@code {
    
    [Parameter] public Turno Turnos{ get; set; } //cargo el objeto de tipo productos
    //parametro public pero de eventos de los button  
    //onvalidSudmit es el metodo que crear me va mandar cuando coloque el grabar nuevo
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; } 

//los div son bloques donde utilizo bostrap para diseño
//este formulario no tiene @page es puramente html
//imput text es un text box. cada vez que dice class aplico boostrap
//los form group forman un grupo
//parametro de propiedad de la clase Producto 
}
